<div class="container">
  <app-sidebar activeItem="discover-projects"></app-sidebar>
  <div class="main-content">
    <h5>AI Suggestions - Open Source projects</h5>
    <div class="content">
      <div class="description">
        Here you can find open source projects, suitable for your Experience
      </div>
      <div class="input-section">
        <div class="input-container">
          <div class="input-label">Starts With</div>
          <button class="input-value" (click)="suggestOpenSourceProjects()">GIVE ME OPEN SOURCE PROJECTS</button>
        </div>
      </div>
      <div *ngIf="suggestions" [innerHTML]="suggestions"></div>


      <!-- <div class="ai-reply-section">
        <div class="section-title">AI Reply</div>
        <div class="reply-messages">
          <div class="message-box">
            <div class="message-label">Bot Message</div>
            <div class="message-content">Open source project in Github</div>
          </div>
          <div class="message-box">
            <div class="message-label">Bot Message</div>
            <div class="message-content">build in : C# , Angular ....</div>
          </div>
          <div class="message-box">
            <div class="message-label">Bot Message</div>
            <div class="message-content">Project URL</div>
          </div>
          <div class="message-box">
            <div class="message-label">Bot Message</div>
            <div class="message-content">Project overview</div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>