<div class="my-invitations-container">
  <div class="content-wrapper">
    <!-- Sidebar -->
    <app-sidebar activeItem="my-invitations"></app-sidebar>

    <!-- Main Content Column -->
    <div class="main-column">
      <div class="header-container">
        <h5>My Invitations</h5>

        <div class="invitations-container">
          <div class="invitations-content">
            <!-- Invitations List Column -->
            <div class="invitations-list-column">
              <div class="invitation-list">
                <!-- Invitation Items -->
                <div class="invitation-item" *ngFor="let invite of combinedInfoWithInvitations; let i = index">
                  <div class="invitation-content">
                    <div class="invitation-with-pic">
                      <div class="invitation-details">
                        <div class="room-name">{{ invite.name }}</div>
                        <div class="invited-by">
                          Invited by {{ invite.creatorName }}
                        </div>
                      </div>
                    </div>
                    <div class="invitation-time">{{ invite.description }}</div>
                  </div>

                  <!-- Actions Column -->
                  <div class="actions-column">
                    <div class="actions-container">
                      <div class="action-buttons" [ngClass]="{ 'second-action': i > 0 }">
                        <button class="accept-button" (click)="acceptInvitation(invite.invitationId)">
                          <span>Accept</span>
                        </button>
                        <!--<button class="reject-button" (click)="rejectInvitation(invite.invitationId)">
                          <span>Reject</span>
                        </button>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
