<div class="room-page-container">
  <!-- Sidebar -->
  <app-sidebar activeItem="discover"></app-sidebar>

  <div class="main-content">
    <div class="header">
      <div class="page-title">My Rooms</div>

    </div>
    <div class="room-details">
      <div class="room-name">{{room.name}}</div>
      <div class="action-buttons">
        <button class="action-button" (click)="suggestProjectForRoom()">SUGGEST PROJECT FOR OUR ROOM</button>

      </div>

      <div *ngIf="suggestions" [innerHTML]="suggestions"></div>


    </div>
    <div class="members-section" style="margin-top: 30px;">
      <div class="section-title">Members</div>
      <div class="members-list" *ngFor="let member of roomMembers">
        <div class="member-item">
          <div class="member-info">
            <div class="member-name">{{member.name}}</div>
            <div class="member-role">{{member.bio}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>